TestCfg/emgGenerator.xsd

<!--
     Author(s): Claudio Pizzolato - October 2013       
         email:  claudio.pizzolato@griffithuni.edu.au   
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="StringListType">
	<xs:list itemType="xs:string"/>
  </xs:simpleType>
  
  <xs:complexType name="EmgType">
	<xs:simpleContent>
		<xs:extension base="xs:string">
		  <xs:attribute type="xs:string" name="id" use="optional"/>
		  <xs:attribute type="xs:string" name="operation" use="optional"/>
		</xs:extension>
	 </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="EmgListType">
    <xs:sequence>
	  <xs:element name="emg" maxOccurs="unbounded" minOccurs="0" type="EmgType"/>	
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="emgGenerator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="experimental" minOccurs="1" type="EmgListType"/>
        <xs:element name="mapping" minOccurs="1" type="EmgListType"/> 
        <xs:element type="StringListType" maxOccurs="1" name="output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>